<div class="msg-box" style="display: none">
    <!-- System vars -->
    <p id="urlBase">{{ asset('') }}</p>
    <p id="route">{{ _c_.route }}</p>
    <!-- Language -->
    <p id="language">{{ app.locale }}</p>
    <!-- Language Hash -->
    <p id="lang_hash">{{ _c_.getLangHash() }}</p>
    <!-- Alert messages -->
    <p id="alert-info">{{ 'alert-info'|trans|capitalize }}</p>
    <p id="alert_info">{{ 'alert_info'|trans|capitalize }}</p>
    <p id="alert-warning">{{ 'alert-warning'|trans|capitalize }}</p>
    <p id="alert_warning">{{ 'alert_warning'|trans|capitalize }}</p>
    <p id="alert-danger">{{ 'alert-danger'|trans|capitalize }}</p>
    <p id="alert_danger">{{ 'alert_danger'|trans|capitalize }}</p>
    <p id="alert-success">{{ 'alert-success'|trans|capitalize }}</p>
    <p id="alert_success">{{ 'alert_success'|trans|capitalize }}</p>
</div>