<div id="footer" class="row">
    <div class="col-xs-4">
        <h3>{{ 'help'|trans|title }}</h3>
        <ul>
            <li>
                <a href="/license" >{{ 'license'|trans|capitalize }}</a>
            </li>
            <li>
                <a href="/readme" >{{ 'product_overview'|trans|capitalize }}</a>
            </li>
            <li>
                <a href="http://bsa-git.github.io/silex-mvc/{% if app.locale == 'ru' %}ru/{% endif %}documentation/" target="_blank">{{ 'documentation'|trans|capitalize }}</a>
            </li>
            <li>
                <a href="https://github.com/bsa-git/silex-mvc/" target="_blank">GitHub</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h3>{{ 'select_scheme'|trans|title }}:</h3>
        <ul>
            <li {% if app.scheme == 'black-white-gray' %}class='active'{% endif %}>
                <a href="/scheme/black-white-gray" >{{ 'gray'|trans|capitalize }}</a>
            </li>
            <li {% if app.scheme == 'black-white-blue' %}class='active'{% endif %}>
                <a href="/scheme/black-white-blue" >{{ 'blue'|trans|capitalize }}</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h3>{{ 'select_language'|trans|title }}:</h3>
        <ul>
            <li {% if app.locale == 'en' %}class='active'{% endif %}>
                <a href="/locale/en" >{{ 'english'|trans|capitalize }}</a>
            </li>
            <li {% if app.locale == 'ru' %}class='active'{% endif %}>
                <a href="/locale/ru">{{ 'russian'|trans|capitalize }}</a>
            </li>
        </ul>
    </div>
</div>